@charset "utf-8";
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #F0E7DB;
  font-family: 'GowunDodum-Regular';
  color: #272727;
}

h2 {
  font-size: 34px;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.header .inner {
  height: 100px;
  max-width: 1640px;
  width: calc(100% - 100px);
  padding: 0 40px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition:  width 0.2s 0.2s, height 0.2s;
  background-color: #fff;
}

.header .inner .nav .gnb {
  height: 100%;
  display: flex;

}

.header .inner .nav .gnb>li {
  height: 100%;

}

.header .inner .nav .gnb>li>a {
  padding: 0 20px;
  display: block;
}

.header .inner .nav .gnb>li>.depth02_wrap {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: #fff;
  display: none;
}

.header .inner .nav .gnb>li>.depth02_wrap .depth02_inner {
  max-width: 1190px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

header .inner .nav .gnb>li>.depth02_wrap .depth02_inner .depth02>li {
  margin-bottom: 30px;
}

header .inner .nav .gnb>li>.depth02_wrap .depth02_inner .depth02>li>a {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

header .inner .nav .gnb>li>.depth02_wrap .depth02_inner .depth_image {
  width: 919px;
  height: 465px;
}

header .inner .nav .gnb>li>.depth02_wrap .depth02_inner .depth_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .inner .util {
  display: flex;
  gap: 28px;
}

.header .inner .util .top_menu {
  display: flex;
  gap: 28px;
  /* util과 gap간격 같이하기 */
  
}
.header .inner .util .top_menu li{
  position: relative;
}
.header .inner .util .top_menu li::before {
  width: 1px;
  height: 12px;
  content: '';
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translate(-50%,-50%);
  background-color: #00000082;
}
.header .inner .util .top_menu img {
  height: 16px;
}
.header .inner .util .lang {
  position: relative;

}

.header .inner .util .lang ul {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #333;
  background-color: #fff;
  display: none;
}

.header .inner .util .lang ul li {
  padding: 10px 20px;

}


.header .inner.active {
  max-width: 100%;
  width: calc(100%);
  /* 이렇게하면되는지 max-width초기화 */
  margin: 0 auto;
  height: 88px;
}

.header .inner.active .nav .gnb>li>.depth02_wrap {
  top: 88px;
}

/* swiper */
.swiper.section1 {
  width: 100%;
  height: 100%;
}

.swiper.section1 .swiper-slide {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper.section1 .swiper-slide:first-child {
  background: url(../img/visual-01.jpg) center center / cover no-repeat;
}

.swiper.section1 .swiper-slide:nth-child(2) {
  background: url(../img/visual-02.jpg)center center / cover no-repeat;
}

.swiper.section1 .swiper-slide:nth-child(3) {
  background: url(../img/visual-01.jpg)center center / cover no-repeat;
}

.swiper.section1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section01 */
.section01 {
  max-width: 1240px;
  margin: 40px auto;

  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
}

.section01 .item {
  width: 33.3%;
  padding: 45px 30px;

  position: relative;

}

.section01 .item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 90px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.section01 .item:first-child::before {
  display: none;
}

h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

.section01 .item span {
  font-size: 14px;
  white-space: nowrap;

}

/* section02 */
.section02 {
  width: 100%;
}

.section02 h2 {
  margin: 100px 0 40px 0;
}

.section02 ul {
  display: flex;
  gap: 24px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
}

.section02 ul li {
  padding: 10px 20px;
  position: relative;
}

.section02 ul li::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-12px, -50%);
  content: '';
  height: 10px;
  border: 1px solid #ccc;
}

.section02 ul li:first-child::before {
  display: none;
}

.section02 .more_btn {
  display: block;
  width: 195px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: 0;
  background-color: #53513d;
  color: #fff;
  margin: 60px auto;

}

/*section02 active */
.section02 ul li.active {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.section02 .sec2_slide.active {
  display: flex;
}

.section02 .sec2_slide {
  max-width: 1620px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  display: none;
}

/* section2 swiper */
.section02 .swiper {
  max-width: 1620px;
  height: 100%;
}

.section02 .swiper-slide {
  /* 스와이퍼간의 간격조절 가능한지? */
  background-color: white;
}

.section02 .swiper-slide .image {
  width: 100%;
  height: 357px;
  position: relative;
}

.section02 .swiper-slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section02 .swiper-slide .image .deco {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  display: flex;
  gap: 8px;
}

.section02 .swiper-slide .image .deco span {
  display: block;
  padding: 5px 10px;
  background-color: #666;
  color: #fff;
 
}
.section02 .swiper-slide .image .deco span:last-child{
  background-color: rgb(238, 238, 216);
  color: #333;
}

.section02 .swiper-slide .text {
  padding: 25px;
}

.section02 .swiper-slide .text span {
  font-size: 13px;
}

.section02 .swiper-slide .text p {
  font-size: 15px;
  margin-bottom: 10px;
}

.section02 .swiper-slide .text strong {
  font-size: 15px;
}

.button-prev {
  transform: scaleX(-1);
}

.button-next,
.button-prev {
  width: 15px;
  height: 31px;
}

.section03 h2 {
  margin: 140px 0 40px 0;
}

.section03 img {
  width: 100%;
  height: 750px;
  object-fit: cover;
  display: block;
}

/* section04 */
.section04 h2 {
  margin: 140px 0 40px 0;
}

.section04 .inner {

  max-width: 1260px;
  margin: 0 auto;

}

.section04 .inner .button.prev {
  transform: scaleX(-1);

}

.section04 .inner .item_wrap {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;


}

.section04 .inner .item_wrap .item {
  width: 366px;
  background-color: #fff;

}

.section04 .inner .item_wrap .item image {
  width: 100%;
  height: 258px;
}

.section04 .inner .item_wrap .item .image img {
  width: 100%;
  height: 258px;
  object-fit: cover;
}

.section04 .inner .item_wrap .item .text {
  padding: 20px 25px 20px 25px;
}

.section04 .inner .item_wrap .item .text hr {
  margin: 16px 0;
}

.section04 .inner .item_wrap .item .text .chat {
  display: flex;
  justify-content: space-between;
}

.section04 .inner .item_wrap .item .text span {
  font-size: 13px;
}

.section04 .inner .item_wrap .item .text span:last-child {
  font-weight: bold;
}

.section04 .inner .item_wrap .item .text p {
  font-size: 14px;
}

.section05 {
  margin-top: 140px;
  padding: 130px 0;
  background-color: #e4d8c3;
}

.section05 .inner {
  max-width: 1148px;
  height: 248px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 60px;

}

.section05 .inner .image {
  width: 346px;
  height: 100%;
}

.section05 .inner .image img {
  width: 346px;
  height: 100%;
  object-fit: cover;
}

.section05 .inner .item {
  width: 100%;
  height: 100%;
  position: relative;
}

.section05 .inner .item hr {
  border: 1px solid #0000001c;

}

.section05 .inner .item .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.section05 .inner .item .text .textwrap {
  display: flex;
  gap: 60px;
  align-items: center;
}

.section05 .inner .item .text .textwrap span {
  font-size: 18px;
}
.section5{
  width: 100%;
  height: 20px;
}

.section05 .inner .item .part {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;

}
.section05 .inner .item .part .info{
  position: relative;
}
.section05 .inner .item .part .info::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #0000001c;
  top: 0;
  left:-40px;

}
.section05 .inner .item .part .info:first-child:before{
  display: none;
}
.section05 .inner .item .part .info span {
  font-size: 18px;
}

.section05 .inner .item .part .info h4 {
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 600;
}

.section05 .inner .item .part .info h5 {
  font-size: 26px;
  font-weight: 600;
  padding: 6px 0;
}

.section05 .inner .item .part .info p {
  font-size: 15px;
  padding: 4px 0;
}

.section05 .inner .item .part .info .infobtnwrap {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.section05 .inner .item .part .info .infobtnwrap .infobtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 100%;
  padding: 12px;
  background-color: #e7c35d;
}

.section05 .inner .item .part .info .infobtnwrap .infobtn:last-child {
  background-color: #7c7a67;
  color: #fff;
}
footer{
  padding: 80px 0;
  background-color: #bbb8a5;
}
footer .partwrap {
  max-width: 1148px;
  display: flex;
  justify-content: space-between;
 margin: 0 auto;
 letter-spacing: -0.5px;
}
footer .partwrap .part p {
  font-size: 12px;
  font-weight: 600;
  color: #393725b3;
}
footer .partwrap .part span {
  color: #393725b3;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 14px;
  display: block;
}
footer .partwrap .part ul li{
  font-size: 14px;
  margin-bottom: 9px;
  color: #393725b3;
}
footer hr {
  margin: 40px auto;
  border: 1px solid #0000001e;
  max-width: 1148px;
}
footer > p {
  max-width: 1148px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 10px;
  color: #393725b3;
  letter-spacing: -0.5px;
}